[packageList]
==
<div class="offcanvas offcanvas-end bg-gray-100" data-bs-theme="light" tabindex="-1" id="packagesOffcanvas" aria-labelledby="packagesOffcanvasLabel">
    <div class="offcanvas-header bg-gray-800 border-bottom border-gray-200">
        <div class="offcanvas-title fs-3 fw-bold text-uppercase letter-spacing-2" id="packagesOffcanvasLabel"><span class="text-white">Join Now</span></div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% component 'packageList' %}
    </div>
</div>